* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  font-size: 0;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0em;
  color: #000;
}

body.lock {
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.content {
  flex: 1 0 auto;
  margin-right: 0;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.menu-burger__icon {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  transition-duration: 0.7s;
}

.menu-burger__icon:before {
  top: 0;
}

.menu-burger__icon:after {
  bottom: 0;
}

.menu-burger__icon:before,
.menu-burger__icon:after {
  transform: rotate(0);
  transition-duration: 0.3s;
}

.menu-burger__icon.active {
  z-index: 7;
  transition-duration: 0.7s;
}

.menu-burger__icon.active:before {
  transform: translateY(0) rotate(-45deg);
}

.menu-burger__icon.active:after {
  transform: translateY(0) rotate(45deg);
}

.menu-burger__icon.active:before,
.menu-burger__icon.active:after {
  background-color: #000;
  transition-duration: 0.3s;
  top: 50%;
}

.menu-burger__middle {
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 0.7s;
}

.menu-burger__icon:before,
.menu-burger__icon:after,
.menu-burger__icon .menu-burger__middle {
  position: absolute;
  content: "";
  left: 0;
  height: 4px;
  width: 30px;
  background-color: #000;
  display: inline-block;
}

.menu-burger__icon.active .menu-burger__middle {
  transform: scale(0.1, 0.2);
  transition-duration: 0.7s;
}

.menu-burger__container {
  display: none;
}

.menu-burger__list {
  padding: 50px 0;
}

.menu-burger__item {
  width: 100%;
  margin: 12px 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.menu-burger__link {
  text-align: center;
  padding: 12px 0;
  width: 100%;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.btn-style {
  padding: 18px 47px;
  background: #4782A4;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #fff;
  transition-duration: 0.3s;
}

.btn-style:hover {
  transition-duration: 0.3s;
  background: #12415D;
}

.title {
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
}

#map {
  height: 550px;
  width: 100%;
}

.page__wrapper {
  padding: 154px 0 40px;
}

.page__title {
  margin: 30px 0;
}

.breadcrumbs__list {
  display: flex;
}

.breadcrumbs__item + .breadcrumbs__item {
  position: relative;
  padding-left: 17px;
}

.breadcrumbs__item + .breadcrumbs__item:before {
  position: absolute;
  content: "/";
  top: 0;
  left: 6px;
  color: #727272;
}

.breadcrumbs__page {
  color: #727272;
}

.breadcrumbs__page:hover {
  transition-duration: 0.3s;
  text-decoration: underline;
}

.breadcrumbs__page-active {
  color: rgba(114, 114, 114, 0.8);
}

.paginations {
  max-width: 500px;
  margin: 0 auto;
}

.paginations__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginations__item {
  width: 40px;
  height: 40px;
  text-align: center;
  transition-duration: 0.3s;
  position: relative;
}

.paginations__item.active:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 3px;
  background-color: #4782A4;
}

.paginations__link {
  width: 100%;
  height: 100%;
  line-height: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.paginations__next,
.paginations__prev {
  width: 40px;
  height: 40px;
  position: relative;
  background-color: transparent;
}

.paginations__next:before,
.paginations__prev:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.paginations__next:before {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.7573 11.7573L20.9999 15.9999L16.7573 20.2426' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 16H21' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.paginations__prev:before {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2426 11.7573L11 15.9999L15.2426 20.2426' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 16H11' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.header {
  position: relative;
  z-index: 50;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.header__wrapper:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.header__inner {
  position: relative;
  z-index: 55;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  transition-duration: 0.3s;
}

.header__logo {
  max-width: 150px;
}

.header__logo img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.header__row {
  max-width: 562px;
  width: 100%;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__menu-link {
  color: #000;
  transition-duration: 0.3s;
}

.header__menu-link:hover {
  transition-duration: 0.3s;
  color: #4782A4;
  text-shadow: 0 0 1px #4782A4, 0 0 1px #4782A4;
}

.header__menu-link.active {
  color: #4782A4;
  text-shadow: 0 0 1px #4782A4, 0 0 1px #4782A4;
}

.header__phone {
  display: flex;
}

.header__phone-link {
  font-weight: 700;
  color: #000;
  white-space: nowrap;
  transition-duration: 0.3s;
  transform: translateY(0);
}

.footer__wrapper {
  padding: 30px 0;
}

.footer__logo-box {
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.footer__phone-wrap {
  text-align: center;
}

.footer__phone {
  font-weight: 700;
  color: #000;
}

.footer__row {
  max-width: 750px;
  margin: 0 auto;
}

.footer__copyright {
  color: #7f7e7e;
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
}

.main-screen__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #87e0fd 0%, #53cbf1 49%, #05abe0 100%);
}

.main-screen__inner {
  position: relative;
  width: 100%;
  text-align: center;
}

.main-screen__plane {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 41px 0 37px;
}

.main-screen__title {
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
  transition-duration: 1s;
}

.main-screen__title span {
  display: block;
}

.main-screen__title :nth-child(odd),
.main-screen__title :nth-child(even) {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.main-screen__title :nth-child(odd) 100%,
.main-screen__title :nth-child(even) 100% {
  opacity: 1;
  transform: translateX(0);
}

.main-screen__title :nth-child(odd) {
  -webkit-animation-name: slide-1;
  animation-name: slide-1;
}

@-webkit-keyframes slide-1 {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
}

@keyframes slide-1 {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
}

.main-screen__title :nth-child(even) {
  -webkit-animation-name: slide-2;
  animation-name: slide-2;
}

@-webkit-keyframes slide-2 {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

@keyframes slide-2 {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

.main-screen__btn {
  -webkit-animation-name: slide-3;
  animation-name: slide-3;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

@-webkit-keyframes slide-3 {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-3 {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.success__wrap {
  padding-top: 124px;
  padding-bottom: 106px;
}

.success__text {
  position: relative;
  text-align: center;
  color: #4782A4;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
}

.success__text:before,
.success__text:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  max-width: 453px;
  width: 100%;
  border: 1px solid #4782A4;
}

.success__text:before {
  top: 0;
}

.success__text:after {
  bottom: 0;
}

.success__text span {
  white-space: nowrap;
}

.approach__title {
  text-align: center;
  margin-bottom: 100px;
}

.approach__row {
  margin: 0 -50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.approach__card {
  max-width: 388px;
  width: 100%;
  display: flex;
  padding: 35px 50px;
}

.approach__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.approach__icon {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-end;
  height: 100px;
}

.approach__text {
  flex: 1 0 auto;
  font-size: 20px;
  margin-top: 25px;
}

.catalogue__inner {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 138px;
}

.catalogue__subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-top: 57px;
  margin-bottom: 43px;
}

.catalogue__subtitle a {
  color: #4782A4;
  transition-duration: 0.3s;
}

.catalogue__subtitle a:hover {
  transition-duration: 0.3s;
  text-decoration: underline;
}

.catalogue__additional {
  position: relative;
}

.catalogue__container {
  width: 100%;
  overflow: hidden;
}

.catalogue__bg {
  background-color: #80BBF6;
}

.catalogue__wrapper {
  width: 100%;
  display: flex;
  padding: 54px 0;
}

.catalogue__item {
  flex-shrink: 0;
  max-width: 373px;
  background-color: #fff;
  padding: 41px 20px;
  transition-duration: 0.3s;
  border: 1px solid transparent;
}

.catalogue__item:hover {
  transition-duration: 0.3s;
  border: 1px solid #12415D;
}

.catalogue__image {
  max-width: 100%;
}

.catalogue__caption {
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0 25px;
}

.catalogue__btn {
  display: block;
  max-width: 350px;
  margin: 0 auto;
}

.catalogue__img {
  width: 100%;
}

.catalogue__img source,
.catalogue__img img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.catalogue__button-next,
.catalogue__button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #fff;
  background-size: 19px 17px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.catalogue__button-next:hover,
.catalogue__button-prev:hover {
  transition-duration: 0.3s;
  background-color: #F3F3F3;
}

.catalogue__button-next.swiper-button-disabled,
.catalogue__button-prev.swiper-button-disabled {
  background-color: #D8D8D8;
  opacity: 0.7;
}

.catalogue__button-next {
  right: -32px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.81742 1.16313C9.91902 1.06127 10.0397 0.980457 10.1726 0.925317C10.3055 0.870178 10.4479 0.841797 10.5918 0.841797C10.7357 0.841797 10.8781 0.870178 11.011 0.925317C11.1439 0.980457 11.2646 1.06127 11.3662 1.16313L17.9287 7.72563C18.0305 7.82723 18.1113 7.94792 18.1665 8.0808C18.2216 8.21368 18.25 8.35614 18.25 8.5C18.25 8.64387 18.2216 8.78632 18.1665 8.9192C18.1113 9.05208 18.0305 9.17278 17.9287 9.27438L11.3662 15.8369C11.1608 16.0423 10.8822 16.1576 10.5918 16.1576C10.3014 16.1576 10.0228 16.0423 9.81742 15.8369C9.61205 15.6315 9.49667 15.3529 9.49667 15.0625C9.49667 14.7721 9.61205 14.4935 9.81742 14.2881L15.6077 8.5L9.81742 2.71188C9.71557 2.61028 9.63475 2.48958 9.57962 2.3567C9.52448 2.22382 9.49609 2.08137 9.49609 1.9375C9.49609 1.79364 9.52448 1.65118 9.57962 1.5183C9.63475 1.38542 9.71557 1.26473 9.81742 1.16313Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.748047 8.5C0.748047 8.20992 0.863281 7.93172 1.0684 7.7266C1.27352 7.52148 1.55172 7.40625 1.8418 7.40625H16.0605C16.3506 7.40625 16.6288 7.52148 16.8339 7.7266C17.0391 7.93172 17.1543 8.20992 17.1543 8.5C17.1543 8.79008 17.0391 9.06828 16.8339 9.2734C16.6288 9.47852 16.3506 9.59375 16.0605 9.59375H1.8418C1.55172 9.59375 1.27352 9.47852 1.0684 9.2734C0.863281 9.06828 0.748047 8.79008 0.748047 8.5Z' fill='black'/%3E%3C/svg%3E%0A");
}

.catalogue__button-prev {
  left: -32px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.18258 1.16313C9.08098 1.06127 8.96028 0.980457 8.8274 0.925317C8.69452 0.870178 8.55207 0.841797 8.4082 0.841797C8.26434 0.841797 8.12188 0.870178 7.989 0.925317C7.85612 0.980457 7.73543 1.06127 7.63383 1.16313L1.07133 7.72563C0.969469 7.82723 0.888658 7.94792 0.833518 8.0808C0.778379 8.21368 0.749997 8.35614 0.749997 8.5C0.749997 8.64387 0.778379 8.78632 0.833518 8.9192C0.888658 9.05208 0.969469 9.17278 1.07133 9.27438L7.63383 15.8369C7.8392 16.0423 8.11775 16.1576 8.4082 16.1576C8.69865 16.1576 8.9772 16.0423 9.18258 15.8369C9.38795 15.6315 9.50333 15.3529 9.50333 15.0625C9.50333 14.7721 9.38795 14.4935 9.18258 14.2881L3.39226 8.5L9.18258 2.71188C9.28443 2.61028 9.36525 2.48958 9.42038 2.3567C9.47552 2.22382 9.50391 2.08137 9.50391 1.9375C9.50391 1.79364 9.47552 1.65118 9.42038 1.5183C9.36525 1.38542 9.28443 1.26473 9.18258 1.16313Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.252 8.5C18.252 8.20992 18.1367 7.93172 17.9316 7.7266C17.7265 7.52148 17.4483 7.40625 17.1582 7.40625H2.93946C2.64937 7.40625 2.37117 7.52148 2.16606 7.7266C1.96094 7.93172 1.84571 8.20992 1.84571 8.5C1.84571 8.79008 1.96094 9.06828 2.16606 9.2734C2.37117 9.47852 2.64937 9.59375 2.93946 9.59375H17.1582C17.4483 9.59375 17.7265 9.47852 17.9316 9.2734C18.1367 9.06828 18.252 8.79008 18.252 8.5Z' fill='black'/%3E%3C/svg%3E%0A");
}

.stages .stages__wrapper {
  margin-bottom: 150px;
}

.stages__row {
  margin: 0 -10px;
}

.stages__card {
  padding: 10px;
}

.stages__card-box {
  max-width: 270px;
  border-top: 4px solid transparent;
  padding: 15px 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transition-duration: 0.3s;
  transform: translateY(0);
  background-color: #fff;
}

.stages__numb {
  font-size: 40px;
  font-weight: 700;
  line-height: 118%;
  text-align: left;
  color: #4782A4;
  flex: 0 0 auto;
}

.stages__text {
  font-size: 20px;
  flex: 1 0 auto;
  margin: 15px 0;
}

.stages__title,
.glad__title {
  text-align: center;
  margin-bottom: 80px;
}

.stages__row,
.glad__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.stages__card-box,
.glad__card-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.glad__row {
  margin: 0 -95px;
}

.glad__card {
  padding: 20px 95px;
}

.glad__card-box {
  max-width: 250px;
}

.glad__icon {
  height: 100px;
  text-align: center;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glad__text {
  font-size: 20px;
  margin-top: 30px;
  text-align: center;
  flex: 1 0 auto;
}

.location__inner {
  display: flex;
}

.location__info {
  min-width: 40%;
  flex: 0 1 40%;
  padding-right: 95px;
}

.location__title {
  margin-bottom: 30px;
}

.location__text,
.location__address {
  font-size: 20px;
  line-height: 110%;
}

.location__text {
  max-width: 450px;
  margin-bottom: 20px;
}

.location__address :nth-child(even) {
  font-weight: 700;
}

.location__address span {
  display: block;
}

.location__map-wrapper {
  min-width: 60%;
  flex: 0 1 60%;
  min-width: calc(60% + ((100vw - 149px) / 2));
}

.galary__images {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.galary__item {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.galary__item:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.galary__image {
  width: 100%;
}

.galary__image source,
.galary__image img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.informations {
  background-color: #D8E5EC;
  max-width: 650px;
  margin: 0 auto;
}

.informations--padding {
  padding: 39px 64px 37px 64px;
  padding-top: 39px;
  padding-right: 64px;
  padding-bottom: 37px;
  padding-left: 64px;
}

.informations__form {
  width: 100%;
  position: relative;
}

.informations__form:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.3s;
}

.informations__form.sending:before {
  opacity: 1;
  visibility: visible;
  transition-duration: 0.3s;
}

.informations__label {
  position: relative;
}

.informations__label-title {
  position: relative;
  font-size: 24px;
  line-height: 120%;
  padding-right: 10px;
}

.informations__label-title:before {
  position: absolute;
  content: "*";
  top: 0;
  right: 0;
  color: red;
}

.informations__label-title--mass:before {
  content: "";
}

.informations__massage {
  position: absolute;
  top: 3px;
  right: 3px;
  color: red;
  font-size: 12px;
}

.informations__input,
.informations__textarea {
  background-color: transparent;
  width: 100%;
  outline: 1px solid #000;
  margin-top: 12px;
}

.informations__input.error,
.informations__textarea.error {
  outline: 1px solid red;
}

.informations__input.complete,
.informations__textarea.complete {
  outline: 1px solid green;
}

.informations__input {
  height: 40px;
  padding: 0 10px;
}

.informations__textarea {
  min-height: 243px;
  padding: 10px;
  resize: vertical;
  overflow: hidden;
}

.informations__input,
.informations__textarea {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.informations__input::-moz-placeholder,
.informations__textarea::-moz-placeholder {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.informations__input:-ms-input-placeholder,
.informations__textarea:-ms-input-placeholder {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.informations__input::placeholder,
.informations__textarea::placeholder {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.informations__shell {
  margin-bottom: 20px;
}

.informations__shell--button {
  margin-top: 32px;
  margin-bottom: 0;
}

.informations__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  padding: 18px 50px;
  display: inline-block;
}

.catalog__season {
  padding: 7px 15px;
  background-color: #EDEDED;
  font-size: 18px;
  color: #727272;
  cursor: default;
}

.catalog__season + .catalog__season {
  margin-left: 22px;
}

.catalog__season.active {
  background-color: #D8E5EC;
  color: #000;
}

.catalog__season.active:hover {
  transition-duration: 0.3s;
  cursor: pointer;
}

.catalog__row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px 80px;
}

.catalog__card {
  padding: 10px;
}

.catalog__content {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
  transition-duration: 0.3s;
}

.catalog__discription {
  flex: 1 0 auto;
}

.catalog__text {
  font-size: 20px;
  margin-top: 20px;
  padding: 0 20px 12px 20px;
}

.catalog__image {
  width: 100%;
}

.catalog__picture {
  width: 100%;
}

.catalog__picture source,
.catalog__picture img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.catalog__more {
  flex: 0 0 auto;
  margin-top: 12px;
  padding: 0 20px 30px 20px;
}

.catalog__price {
  font-size: 24px;
  font-weight: 700;
}

.catalog__specifications {
  margin-top: 26px;
}

.catalog__specifications-link {
  font-size: 16px;
  font-weight: 300;
  color: #010101;
  padding-right: 29px;
  position: relative;
}

.catalog__specifications-link:before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 24px;
  height: 10px;
  transition-duration: 0.3s;
  background-size: 24px 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L23 5' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 1L23 5L20 9' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.catalog__container {
  padding-top: 30px;
}

.catalog__spec-image {
  flex: 1 1 40%;
  padding-right: 30px;
}

.catalog__spec-image-box {
  max-width: 409px;
}

.catalog__spec-picture {
  width: 100%;
}

.catalog__spec-picture source,
.catalog__spec-picture img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.catalog__spec-discription {
  flex: 1 1 60%;
  padding-left: 70px;
  font-size: 20px;
  line-height: 120%;
}

.catalog__spec-title--mobile {
  display: none;
}

.catalog__spec-title--desctop {
  display: block;
}

.catalog__spec-about {
  margin: 20px 0;
}

.catalog__spec-about :first-child {
  font-weight: 700;
}

.catalog__spec-text p {
  margin-bottom: 20px;
}

.atelier__text {
  margin-bottom: 32px;
  padding-top: 25px;
}

.atelier__part {
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 30px;
}

.atelier__services + .atelier__services {
  margin-top: 63px;
}

.atelier__table {
  max-width: 963px;
  width: 100%;
}

.atelier__table-row {
  display: flex;
  width: 100%;
}

.atelier__table-col-l,
.atelier__table-col-r {
  font-size: 24px;
  line-height: 120%;
  padding: 20px 0;
  width: 100%;
  border: 1px solid #C4C4C4;
  border-top: none;
}

.atelier__table-col-l--title,
.atelier__table-col-r--title {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  padding: 11px 0;
  background-color: #D8E5EC;
  border: none;
}

.atelier__table-col-l {
  padding-left: 24px;
  max-width: 668px;
  border-right: none;
}

.atelier__table-col-r {
  padding-left: 39px;
  max-width: 295px;
}

.atelier__sevices-title {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  background-color: #D8E5EC;
}

.atelier__sevices-title--right {
  white-space: nowrap;
}

.atelier__sevices {
  font-size: 24px;
  line-height: 120%;
}

.atelier__sevices--left {
  padding-right: 30px;
  border: 1px solid #c4c4c4;
  border-top: none;
  border-right: none;
}

.atelier__sevices--right {
  border: 1px solid #c4c4c4;
  border-top: none;
}

.atelier__field-title {
  margin-bottom: 47px;
}

.atelier__field {
  padding-top: 132px;
}

.atelier__field-wrapper {
  display: flex;
}

.atelier__field-image {
  overflow: hidden;
  position: relative;
}

.atelier__field-picture source,
.atelier__field-picture img {
  position: absolute;
  max-height: 100%;
  min-width: 570px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: contain;
  object-position: contain;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 9999;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__content_image {
  padding: 0;
}

.popup__image {
  width: 100%;
}

.popup__image {
  width: 100%;
}

.popup__image source,
.popup__image img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  transition-duration: 0.3s;
  transform: scale(1) rotate(0deg);
}

.popup__close:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 50 50'%3E%3Cpath id='svg_7' fill='%23000' fill-rule='nonzero' d='M27.77 24.83l6.46 6.46c0.79,0.8 0.8,2.08 0,2.88 -0.8,0.79 -2.08,0.79 -2.87,0l-6.47 -6.47 -6.46 6.47c-0.8,0.79 -2.08,0.79 -2.88,0 -0.79,-0.8 -0.79,-2.08 0,-2.88l6.47 -6.46 -6.47 -6.47c-0.79,-0.79 -0.79,-2.07 0,-2.87 0.8,-0.79 2.08,-0.79 2.88,0l6.46 6.47 6.47 -6.47c0.79,-0.79 2.07,-0.8 2.87,0 0.79,0.8 0.79,2.08 0,2.87l-6.46 6.47zm-2.88 24.38c-13.46,0 -24.38,-10.92 -24.38,-24.38 0,-13.46 10.92,-24.38 24.38,-24.38 13.47,0 24.38,10.92 24.38,24.38 0,13.46 -10.91,24.38 -24.38,24.38zm0 -4.07c11.22,0 20.32,-9.09 20.32,-20.31 0,-11.22 -9.1,-20.32 -20.32,-20.32 -11.22,0 -20.31,9.1 -20.31,20.32 0,11.22 9.09,20.31 20.31,20.31z'/%3E%3C/svg%3E%0A");
}

.popup__close:hover {
  transition-duration: 0.3s;
  transform: scale(1.1) rotate(180deg);
}

.popup__title {
  max-width: 800px;
  margin-top: 10px;
}

.popup__video {
  width: 100%;
  height: 100%;
}

@media (min-width: 800px) {
  .catalog__container {
    display: flex;
  }
}

@media (min-width: 900px) {
  .atelier__field-form-box,
  .atelier__field-image {
    flex: 1 1 50%;
  }
}

@media (min-width: 991.98px) {
  .paginations__item:hover {
    transition-duration: 0.3s;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .header__inner.active {
    height: 50px;
    transition-duration: 0.3s;
  }

  .header__phone-link:hover {
    transition-duration: 0.3s;
    transform: translateY(-3px);
  }

  .approach__icon--1,
  .approach__icon--2,
  .approach__icon--3,
  .approach__icon--4,
  .approach__icon--5,
  .approach__icon--6 {
    transform: scale(0.5);
    transition-duration: 1s;
    opacity: 0;
  }

  .approach__icon--1.active,
  .approach__icon--2.active,
  .approach__icon--3.active,
  .approach__icon--4.active,
  .approach__icon--5.active,
  .approach__icon--6.active {
    transform: scale(1);
    opacity: 1;
  }

  .approach__icon--1.active {
    transition: all 1s ease 0s;
  }

  .approach__icon--2.active {
    transition: all 1s ease 0.1s;
  }

  .approach__icon--3.active {
    transition: all 1s ease 0.2s;
  }

  .approach__icon--4.active {
    transition: all 1s ease 0.3s;
  }

  .approach__icon--5.active {
    transition: all 1s ease 0.4s;
  }

  .approach__icon--6.active {
    transition: all 1s ease 0.5s;
  }

  .stages__card--1,
  .stages__card--2,
  .stages__card--3,
  .stages__card--4,
  .stages__card--5,
  .stages__card--6,
  .stages__card--7,
  .stages__card--8 {
    transform: translateY(50px);
    transition-duration: 1s;
    opacity: 0;
  }

  .stages__card--1.active,
  .stages__card--2.active,
  .stages__card--3.active,
  .stages__card--4.active,
  .stages__card--5.active,
  .stages__card--6.active,
  .stages__card--7.active,
  .stages__card--8.active {
    transform: translateY(0);
    opacity: 1;
  }

  .stages__card--1.active {
    transition: all 1s ease 0s;
  }

  .stages__card--2.active {
    transition: all 1s ease 0.1s;
  }

  .stages__card--3.active {
    transition: all 1s ease 0.2s;
  }

  .stages__card--4.active {
    transition: all 1s ease 0.3s;
  }

  .stages__card--5.active {
    transition: all 1s ease 0.4s;
  }

  .stages__card--6.active {
    transition: all 1s ease 0.5s;
  }

  .stages__card--7.active {
    transition: all 1s ease 0.6s;
  }

  .stages__card--8.active {
    transition: all 1s ease 0.7s;
  }

  .stages__card-box:hover {
    transition-duration: 0.3s;
    border-top: 4px solid #4782A4;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    transform: translateY(-15px);
  }

  .catalog__content:hover {
    transition-duration: 0.3s;
    box-shadow: 4px 4px 20px rgba(106, 106, 106, 0.46);
  }

  .catalog__specifications-link:hover {
    transition-duration: 0.3s;
  }

  .catalog__specifications-link:hover:before {
    right: -5px;
  }
}

@media (max-width: 1170px) {
  .menu-burger__link {
    font-size: calc(25px + (32 - 25) * ((100vw - 320px) / (1170 - 320)));
  }

  .btn-style {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1170 - 320)));
  }

  .title {
    font-size: calc(24px + (42 - 24) * ((100vw - 320px) / (1170 - 320)));
  }

  .success__wrap {
    padding-top: calc(50px + (124 - 50) * ((100vw - 320px) / (1170 - 320)));
    padding-bottom: calc(40px + (106 - 40) * ((100vw - 320px) / (1170 - 320)));
  }

  .success__text:before,
  .success__text:after {
    max-width: calc(250px + (453 - 250) * ((100vw - 320px) / (1170 - 320)));
  }

  .success__text {
    padding-top: calc(25px + (75 - 25) * ((100vw - 320px) / (1170 - 320)));
    padding-bottom: calc(25px + (75 - 25) * ((100vw - 320px) / (1170 - 320)));
  }

  .approach__title {
    margin-bottom: calc(0px + (100 - 0) * ((100vw - 320px) / (1170 - 320)));
  }

  .approach__text {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1170 - 320)));
  }

  .catalogue__inner {
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
    padding-bottom: calc(50px + (138 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .catalogue__subtitle {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1170 - 320)));
    margin-top: calc(25px + (57 - 25) * ((100vw - 320px) / (1170 - 320)));
    margin-bottom: calc(20px + (43 - 20) * ((100vw - 320px) / (1170 - 320)));
  }

  .catalogue__caption {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1170 - 320)));
  }

  .stages .stages__wrapper {
    margin-bottom: calc(50px + (150 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .stages__title,
  .glad__title {
    margin-bottom: calc(15px + (80 - 15) * ((100vw - 320px) / (1170 - 320)));
  }

  .glad__text {
    font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1170 - 320)));
    margin-top: calc(0px + (30 - 0) * ((100vw - 320px) / (1170 - 320)));
  }

  .informations--padding {
    padding-top: calc(10px + (39 - 10) * ((100vw - 320px) / (1170 - 320)));
    padding-right: calc(10px + (64 - 10) * ((100vw - 320px) / (1170 - 320)));
    padding-bottom: calc(10px + (37 - 10) * ((100vw - 320px) / (1170 - 320)));
    padding-left: calc(10px + (64 - 10) * ((100vw - 320px) / (1170 - 320)));
  }

  .informations__label-title {
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1170 - 320)));
  }

  .catalog__spec-discription {
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1170 - 320)));
    padding-left: calc(0px + (70 - 0) * ((100vw - 320px) / (1170 - 320)));
  }

  .atelier__text {
    padding-top: calc(0px + (25 - 0) * ((100vw - 320px) / (1170 - 320)));
  }

  .atelier__part {
    font-size: calc(25px + (42 - 25) * ((100vw - 320px) / (1170 - 320)));
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1170 - 320)));
  }

  .atelier__services + .atelier__services {
    margin-top: calc(40px + (63 - 40) * ((100vw - 320px) / (1170 - 320)));
  }

  .atelier__table-col-l,
  .atelier__table-col-r {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1170 - 320)));
  }

  .atelier__table-col-l {
    padding-left: calc(10px + (24 - 10) * ((100vw - 320px) / (1170 - 320)));
  }

  .atelier__table-col-r {
    padding-left: calc(10px + (39 - 10) * ((100vw - 320px) / (1170 - 320)));
  }

  .atelier__sevices-title {
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1170 - 320)));
  }

  .atelier__sevices {
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1170 - 320)));
  }

  .atelier__field-title {
    margin-bottom: calc(20px + (47 - 20) * ((100vw - 320px) / (1170 - 320)));
  }

  .atelier__field {
    padding-top: calc(50px + (132 - 50) * ((100vw - 320px) / (1170 - 320)));
  }
}

@media (max-width: 991.98px) {
  .menu-burger__icon {
    display: block;
  }

  .menu-burger__container {
    display: block;
    position: fixed;
    z-index: 40;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 30px;
    transition-duration: 0.6s;
  }

  .menu-burger__container.active {
    top: 0;
    transition-duration: 0.6s;
    overflow: auto;
  }

  #map {
    height: 350px;
  }

  .header__inner {
    height: 50px;
  }

  .header__row {
    display: none;
  }

  .header__phone-link {
    margin: 0 30px;
  }

  .catalogue__item {
    max-width: 100%;
    width: 100%;
  }

  .location__inner {
    display: block;
  }

  .location__info {
    min-width: auto;
    flex: 1 1 auto;
    padding-right: 0;
  }

  .location__map-wrapper {
    min-width: auto;
    flex: 1 1 auto;
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .atelier__field-title {
    text-align: center;
  }

  .atelier__field-wrapper {
    display: block;
  }

  .atelier__field-image {
    display: none;
  }
}

@media (max-width: 800px) {
  .catalog__spec-image,
  .catalog__spec-discription {
    flex: 1 1 auto;
  }

  .catalog__spec-image {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .catalog__spec-image-box {
    max-width: 310px;
    margin: 0 auto;
  }

  .catalog__spec-title--mobile {
    display: inline-block;
    margin-bottom: 30px;
    text-align: left;
  }

  .catalog__spec-title--desctop {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .approach__icon img {
    width: 15%;
  }

  .approach__icon {
    height: 50px;
  }

  .glad__icon img {
    width: 20%;
  }
}

@media (max-width: 479.98px) {
  .approach__card {
    padding: 20px 50px;
  }
}